<% num = 0 %>
<% @messages.each do |message| %>
  <a href="./messages">
    <%= "#{message[:body]} : #{message[:contributor]}" %><br>
    <% num += 1 %>
  </a>
<% end %>

<h3> - JSON - </h3>
<%= "#{JSON.dump(@messages)}" %>

<form action="./board" method="get">
  <p>title : <input type="text" name="daimei" size="40"></p>
  <p><input type="submit" name="submit" value="add"></p>
</form>